.edit-form {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, auto));
    gap: 1rem;
    .change-tags {
        display: contents;
    }
    .edit-btn {
        width: fit-content;
    }
}

.tags-list {
    @include clean-list;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 200px));
    gap: 1rem;
    text-decoration: none;
    li {
        text-align: center;
        padding: 2%;
        border-radius: 10px;
        border: 1px solid black;
        &:hover {
            cursor: pointer;
            background-color: lightgrey;
            font-size: 0px;
        }
        &:hover:after {
            content: attr(data-hover);
            font-size: 16px;
        }
    }
}