.station-details {
    // background-image: linear-gradient(#a892c5, #b9b9b9);
    // padding: 0.4rem 0.4rem;
    // max-height: 100vh;
    // display: grid;
    // grid-template-columns: 800px auto;
    // grid-template-rows: auto auto 2.4fr 200px;
    // gap: 1rem;
    .station-details-header {
        // grid-column: 1/-1;
        // grid-row: 1/2;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        .img-container {
            width: 80px;
            margin-right: 0.8rem;
        }
        .sation-stats {
            margin-left: auto;
        }
    }
    .playlist-chat-container {
        width: 100%;
        height: 50vh;
        .songs-sec {
            flex-basis: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .add-button {
                align-self: flex-start;
                width: fit-content;
                margin: 0.4rem 0 0.4rem 0;
                padding: 0.4rem;
                ;
            }
        }
    }
    .player-container {
        // background-image: linear-gradient(#806280, #e4d4e6);
        border: 1px solid rgb(82, 41, 83);
        padding: 0.4rem;
        .video-sec {
            margin: 0 auto;
            // grid-column: 2/3;
            // grid-row: 2/3;
            position: relative;
            width: fit-content;
            .video-container {
                justify-self: center;
                width: 240px;
                border-radius: 50%;
                border: 60px solid transparent;
                iframe {
                    pointer-events: none;
                    transform: scale(2.5);
                }
            }
            .needle {
                position: absolute;
                z-index: 1;
                transform: scale(0.55) rotateZ(-9.5deg);
                left: 109px;
                top: -58px;
            }
            .vinyl {
                position: absolute;
                -ms-transform: translate(69px);
                transform: translate(69px);
                top: 60px;
                left: -7px;
                width: 118px;
                height: 120px;
                border-radius: 50%;
                border-width: 29px 0px;
                border-left: 0;
                animation: pull-out 1.3s 2s ease-out forwards, spin 1.3s 4s linear infinite;
                box-shadow: 0px 0px 3px transparent, 0px 0px 0px 10px transparent, 0px 0px 15px white, 0px 0px 0px 16px #000, 0px 0px 0px 17px #252424, 0px 0px 0px 18px #000, 0px 0px 0px 19px #313030, 0px 0px 0px 20px #000, 0px 0px 0px 21px #3a3838, 0px 0px 0px 22px #000, 0px 0px 0px 23px #2b2a2a, 0px 0px 0px 24px #000, 0px 0px 0px 25px #313030, 0px 0px 0px 26px #000, 0px 0px 0px 27px #313030, 0px 0px 0px 28px #000, 0px 0px 0px 29px #333333, 0px 0px 0px 30px #000, 0px 0px 0px 31px #333232, 0px 0px 0px 32px #000, 0px 0px 0px 33px #4c4a4a, 0px 0px 0px 34px #000, 0px 0px 0px 35px #2f2e2e, 0px 0px 0px 36px #000, 0px 0px 0px 37px #252424, 0px 0px 0px 38px #000, 0px 0px 0px 39px #2f2e2e, 0px 0px 0px 40px #000, 0px 0px 0px 41px #2f2e2e, 0px 0px 0px 42px #000, 0px 0px 0px 55px #2f2e2e, 0px 0px 0px 56px #000, 0px 0px 0px 57px #2f2e2e, 0px 0px 0px 58px #cecece, 0px 0px 0px 59px #2f2e2e;
            }
            .vinyl:before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                // background: white;
                top: calc(50% - 3px);
                left: calc(50% - 3px);
                border-radius: 50%;
            }
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                    left: 60px;
                    bottom: 0;
                    top: 60px;
                }
                100% {
                    transform: rotate(360deg);
                    left: 60px;
                    bottom: 0;
                    top: 60px;
                }
            }
        }
        //.songs-sec {
        // grid-column: 1/2;
        // grid-row: 2/4;
        // overflow-y: scroll;
        // @include scrollbsr-design;
        //}
        // .video-sec {
        //     width: 100%;
        //     position: fixed;
        //     bottom: 0;
        //     border: 1px solid grey;
        //     display: flex;
        //     justify-content: space-around;
        //     align-content: center;
        .video-btns-container {
            // grid-column: 1/-1;
            // grid-row: 4/5;
            padding: 5%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 50%;
            .video-btns {
                border: none;
                font-size: 30px;
                background-color: transparent;
                color: $clr6;
            }
            .play-song-btn {
                font-size: 50px;
            }
        }
    }
    // }
    @include for-normal-layout {
        .station-details-header {
            order: -1;
        }
        .player-container {
            order: -1;
            flex-direction: column-reverse;
        }
        .playlist-chat-container {
            height: 50vh;
            flex-direction: column;
            .songs-sec {
                flex-basis: 100%;
            }
        }
        .chat-open {
            font-size: 30px;
            position: fixed;
            bottom: 50px;
            right: 8px;
            background-color: $clr3;
            cursor: pointer;
            display: flex;
            padding: 20px;
            width: 75px;
            height: 75px;
            border: solid 2px $clr6;
            border-radius: 50%;
            h4 {
                color: $clr5;
                margin: 0 auto;
                align-self: center;
                text-align: center;
            }
        }
    }
}

.like-btn {
    @include clear-button;
}

// @media (max-width: $break-normal) {
//     .station-details {
//         position: relative;
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 10vh 30vh auto 55vh;
//         gap: 1rem;
//         .station-details-header {
//             grid-column: 1/2;
//             grid-row: 1/2;
//             .ratio-square {
//                 padding: 0.4rem;
//             }
//             .img-container {
//                 width: 95px;
//             }
//         }
//         .video-sec {
//             grid-column: 1/2;
//             grid-row: 2/3;
//         }
//         .video-btns-container {
//             grid-column: 1/2;
//             grid-row: 3/4;
//             border: none;
//         }
//         .songs-sec {
//             grid-column: 1/2;
//             grid-row: 4/5;
//         }
//         .station-chat {
//             grid-column: 1/2;
//             grid-row: 4/5;
//             border: 1px solid rgb(226, 226, 226);
//             padding: 0 0 1% 0;
//             margin: 0 0 1% 0;
//         }
//         .chat-open {
//             font-size: 30px;
//             position: absolute;
//             bottom: 50px;
//             right: 8px;
//             background-color: $clr3;
//             cursor: pointer;
//             display: flex;
//             padding: 20px;
//             width: 75px;
//             height: 75px;
//             border: solid 2px $clr6;
//             border-radius: 50%;
//             h4 {
//                 color: $clr5;
//                 margin: 0 auto;
//                 align-self: center;
//                 text-align: center;
//             }
//         }
//     }
// }
/////narrow layout 460px/////
// @media (max-width: $break-normal) {
//     .station-details {
//         position: relative;
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: auto auto 500px;
//         gap: 1rem;
//         .station-chat {
//             grid-column: 1/2;
//             grid-row: 3/4;
//             border: 1px solid rgb(226, 226, 226);
//             padding: 0 0 1% 0;
//             margin: 0 0 1% 0;
//         }
//         .chat-open {
//             font-size: 30px;
//             position: absolute;
//             bottom: 50px;
//             right: 8px;
//             background-color: $clr3;
//             cursor: pointer;
//             display: flex;
//             padding: 20px;
//             width: 75px;
//             height: 75px;
//             border: solid 2px $clr6;
//             border-radius: 50%;
//             h4 {
//                 color: $clr5;
//                 margin: 0 auto;
//                 align-self: center;
//                 text-align: center;
//             }
//         }
//     }
// }
// .station-details {
//     display: grid;
//     grid-template-columns: 3fr 2fr;
//     grid-template-rows: auto auto 500px;
//     gap: 1rem;
//     .station-details-header {
//         grid-column: 1/-1;
//         grid-row: 1/1;
//     }
//     .video-sec {
//         grid-column: 1/-1;
//         grid-row: 2/3;
//     }
//     .songs-sec {
//         grid-column: 1/2;
//         grid-row: 3/4;
//         overflow-y: scroll;
//         @include scrollbsr-design;
//     }
//     .station-chat {
//         grid-column: 2/3;
//         grid-row: 3/4;
//         border: 1px solid rgb(226, 226, 226);
//         padding: 1%;
//         margin: 1%;
//     }
//     .chat-open {}
// }
// .video-container {
//     min-width: 320px;
//     min-height: 320px;
// }
// .video-btns-container {
//     padding: 5%;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
//     width: 50%;
//     .video-btns {
//         border: none;
//         font-size: 30px;
//         background-color: transparent;
//         color: $clr6;
//     }
//     .play-song-btn {
//         font-size: 50px;
//     }
// }
// .songs-sec {
//     display: flex;
//     flex-direction: column;
//     .add-button {
//         align-self: flex-end;
//         width: fit-content;
//     }
// }
// .like-btn {
//     @include clear-button;
// }
// /////narrow layout 460px/////
// @media (max-width: $break-normal) {
//     .station-details {
//         position: relative;
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: auto auto 500px;
//         gap: 1rem;
//         .station-chat {
//             grid-column: 1/2;
//             grid-row: 3/4;
//             border: 1px solid rgb(226, 226, 226);
//             padding: 0 0 1% 0;
//             margin: 0 0 1% 0;
//         }
//         .chat-open {
//             font-size: 30px;
//             position: absolute;
//             bottom: 50px;
//             right: 8px;
//             background-color: $clr3;
//             cursor: pointer;
//             display: flex;
//             padding: 20px;
//             width: 75px;
//             height: 75px;
//             border: solid 2px $clr6;
//             border-radius: 50%;
//             h4 {
//                 color: $clr5;
//                 margin: 0 auto;
//                 align-self: center;
//                 text-align: center;
//             }
//         }
//     }
// }