@font-face {
    font-family: proxima-bold;
    src: url(../assets/fonts/proxima_ssv/Proxima-Nova-Alt-Bold.otf);
}

@font-face {
    font-family: proxima;
    src: url(../assets/fonts/proxima_ssv/ProximaNova-Regular.otf);
}