@font-face {
    font-family: proxima-bold;
    src: url(../assets/fonts/proxima_ssv/Proxima-Nova-Alt-Bold.otf);
}

@font-face {
    font-family: proxima;
    src: url(../assets/fonts/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Monoton;
    // src: url(.././assets/fonts/Monton/Monoton-Regular.ttf);
    src: url(../assets/fonts/Monoton/Monoton-Regular.ttf)
}