// COLOR PALETTE
$clr1: #ce2e6c;
$clr3: #ffb5b5;
$clr2: rgb(255, 255, 255);
$clr4: #f0decb;
$clr5: rgb(75, 34, 68);
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;