// COLOR PALETTE
$clr1:#606063;
$clr2: #dfcde2; ///inner text
$clr3: #a892c5; ///button / play puse buttons #f3f3f4
$clr4: #f9fafb; ////backround
$clr5:#f6ced1; ////light pink to play with
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;