.loggedin-user {
    padding: 10px;
    margin-left: auto;
    position: relative;
    
    img {
        width: 40px;
    }
    
    .user-options {
        min-width: 200px;
        position: absolute;
        top: 65px;
        right: -21px;
        background-color: $clr6;
        padding: 10px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;

        > * {
            text-align: start;
            margin-bottom: 0.25rem;
        }

        p {
            font-weight: bold;
        }
    }
    
    &:hover .user-options {
        display: flex;
    }
}