.song-list {
    display: contents;
    .container-of-song-list {
        height: 100%;
        overflow-y: scroll;
        @include scrollbsr-design;
    }
    >div {
        height: 100%;
    }
    @include clean-list;
    .song-in-list {
        display: flex;
        justify-content: space-between;
        border: 2px solid rgb(226, 226, 226);
        padding: 1%;
        margin: 1%;
        .left-sec-song-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            .inner-txt-song {
                padding: 0.4em;
                p {
                    background-color: inherit;
                    margin: 0 0.4em;
                }
                p.song-add-by-name {
                    font-size: 0.7em;
                    color: lighten($color: $clr1, $amount: 40);
                    margin: 0 0.4em;
                }
            }
        }
        .remove-song-btn {
            visibility: hidden;
            border: none;
            color: inherit;
            background-color: transparent;
        }
        img {
            width: 6em;
        }
        &:hover .remove-song-btn {
            visibility: visible;
            cursor: pointer;
        }
        &:nth-child(odd) {
            background-color: #f3f3f4;
        }
        &.playing {
            border: 2px solid $clr3;
        }
        .playing-song-gif {
            padding-right: 0.4em;
            width: 3em;
            filter: hue-rotate(270deg) saturate(220%);
        }
        // button {
        //     @include clear-button;
        //     color: $clr3;
        //     padding-right: 0.4em;
        //     visibility: hidden;
        // }
        &:hover button {
            visibility: visible;
        }
    }
}