.song-list {
    @include clean-list;
    .song-in-list {
        display: flex;
        justify-content: space-between;
        border: 2px solid rgb(226, 226, 226);
        padding: 1%;
        margin: 1%;
        p {
            background-color: inherit;
        }
        .remove-song-btn {
            visibility: hidden;
            border: none;
            color: inherit;
            background-color: transparent;
        }
        img {
            width: 20px;
        }
        &:hover .remove-song-btn {
            visibility: visible;
            cursor: pointer;
        }
        &:nth-child(odd) {
            background-color: #f3f3f4;
        }
        &.playing {
            border: 2px solid $clr3;
        }
    }
}